{% extends "base.html.twig" %}

{% block content %}
    {% if wasPaid %}
        <h2 class="alert alert-success">You are now the owner of <b>totallyrandomdomainname.com</b></h2>
    {% else %}
        <h2 class="alert alert-danger">Warning: we didn't receive the full payment yet.</h2>
        <p><a href="{{ url('pay', { 'orderId': orderId }) }}">Pay some more!</a></p>
    {% endif %}
{% endblock %}
